@page "@*URL*@"
<PageTitle>@*TITLE*@</PageTitle>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">@*TITLE*@</h1>
        <h2 class="post-subtitle" itemprop="name subtitle">@*SUBTITLE*@</h2>
        <p class="post-meta">
            <time class="dt-published" 
                  datetime="@*PUBLISHED_DATE_yyyy-MM-ddTHH:mm:ssZ*@" 
                  itemprop="datePublished">@*PUBLISHED_DATE_MMM dd, yyyy*@</time>
        </p>
    </header>
    <div class="post-content e-content" itemprop="articleBody">
        @*CONTENT*@
    </div>
</article>