@page "/sessions"

<PageTitle>Conference Sessions</PageTitle>

<h1>Conference Sessions</h1>
<p>A list of my upcoming and past conference sessions.</p>
<SessionizeMap />
<div id="sessionize-events"></div>
<div id="sessionize-sessions"></div>
<script src="js/sessionize-events.js"></script>
<script src="js/sessionize-sessions.js"></script>