@page "/post/2024/10/26/iowa-code-camp"
<PageTitle>Iowa Code Camp 2024 Presentation Links</PageTitle>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">Iowa Code Camp 2024 Presentation Links</h1>
        <h2 class="post-subtitle" itemprop="name subtitle"></h2>
        <p class="post-meta">
            <time class="dt-published" 
                  datetime="2024-10-26T00:00:00Z" 
                  itemprop="datePublished">Oct 26, 2024</time>
        </p>
    </header>
    <div class="post-content e-content" itemprop="articleBody">
        <h1 id="iowa-code-camp">Iowa Code Camp</h1>
<p>If you came to my presentation at ICC this year, here are the promised links!</p>
<p>Please also check out my employer, <a href="https://dymaptic.com">dymaptic</a> for Geospatial/Mapping solutions and consulting!</p>
<p><a href="https://1drv.ms/p/s!AiQrCeaKzoIlpKgXA0O2BqsbVYRnJQ?e=0DpGuE">Presentation Slides</a></p>
<p><a href="https://github.com/TimPurdum/Blazor.Demo.ToDo">ToDo App Demo Code</a></p>
<p><a href="https://github.com/dymaptic/GeoBlazor-Samples/tree/main/NationFinder">Nation Finder Game Code</a></p>
<p><a href="https://dotnet.microsoft.com">Download .NET</a></p>
<p><a href="https://www.techempower.com/benchmarks">TechEmpower Benchmarks</a></p>
<h2 id="sites-that-use-blazor">Sites that Use Blazor</h2>
<p><a href="https://dotnet.microsoft.com/en-us/live">Dotnet Live</a></p>
<p><a href="https://dotnet.microsoft.com/en-us/platform/try-dotnet">Try DotNet</a></p>
<p><a href="https://dotnet.microsoft.com/en-us/platform/customers/blazor">Microsoft Blazor Customers Showcase</a></p>
<p><a href="https://trends.builtwith.com/websitelist/Blazor">Built with Blazor</a></p>
<p><a href="https://github.com/efonsecab/Companies-Using-Blazor">Companies Using Blazor</a></p>
<h2 id="blazor-component-libraries">Blazor Component Libraries</h2>
<h3 id="open-source">Open Source</h3>
<p><a href="https://blazorise.com/">Blazorise</a></p>
<p><a href="https://github.com/Blazored">Blazored</a></p>
<p><a href="https://www.mudblazor.com/">MudBlazor</a></p>
<p><a href="https://github.com/masastack/MASA.Blazor">MASA Blazor</a></p>
<p><a href="https://blazor.radzen.com/">Radzen</a></p>
<p><a href="https://antblazor.com/">Ant Design</a></p>
<p><a href="https://www.fluentui-blazor.net/Templates">FluentUI (Microsoft)</a></p>
<h3 id="commercial">Commercial</h3>
<p><a href="https://www.telerik.com/blazor-ui">Telerik</a></p>
<p><a href="https://www.syncfusion.com/blazor-components">SyncFusion</a></p>
<p><a href="https://www.devexpress.com/blazor/">DevExpress</a></p>
<h2 id="javascript-components-ive-wrapped-for-use-in-blazor">JavaScript Components I've Wrapped for Use in Blazor</h2>
<p><a href="https://quilljs.com/">Quill JS Rich Text Editing Component</a></p>
<p><a href="https://github.com/szimek/signature_pad">Signature Pad Component</a></p>
<h2 id="geoblazor-mapping-resources">GeoBlazor Mapping Resources</h2>
<p><a href="https://geoblazor.com">GeoBlazor Landing Page</a></p>
<p><a href="https://samples.geoblazor.com">GeoBlazor Samples</a></p>
<p><a href="https://docs.geoblazor.com">GeoBlazor Docs</a></p>
<p><a href="https://github.com/dymaptic.GeoBlazor">GeoBlazor Open Source Repository</a></p>
<p><a href="https://github.com/dymaptic/GeoBlazor-Samples">GeoBlazor Samples Repository</a></p>
<p><a href="https://blog.dymaptic.com/tag/geoblazor">GeoBlazor Blog Posts</a></p>

    </div>
</article>