@page "/post/2024/5/1/vslive-chicago"
<PageTitle>VS Live Chicago Presentation Links</PageTitle>

<article class="post h-entry" itemscope itemtype="http://schema.org/BlogPosting">
    <header class="post-header">
        <h1 class="post-title p-name" itemprop="name headline">VS Live Chicago Presentation Links</h1>
        <h2 class="post-subtitle" itemprop="name subtitle"></h2>
        <p class="post-meta">
            <time class="dt-published" 
                  datetime="2024-05-01T00:00:00Z" 
                  itemprop="datePublished">May 01, 2024</time>
        </p>
    </header>
    <div class="post-content e-content" itemprop="articleBody">
        <h1 id="vs-live-chicago">VS Live Chicago</h1>
<p>If you came to my presentations at VS Live Chicago this year, here are the promised links!</p>
<p>Please also check out my employer, <a href="https://dymaptic.com">dymaptic</a> for Geospatial/Mapping solutions and consulting!</p>
<h2 id="wrapping-javascript-apis-for-use-in-asp.net-core-blazor">Wrapping JavaScript APIs for use in Asp.NET Core Blazor</h2>
<p><a href="https://github.com/timpurdum/easepickerdemo">EasyPicker Demo Code</a></p>
<p><a href="https://easepick.com/">EasePick JS Calendar Component</a></p>
<p><a href="https://quilljs.com/">Quill JS Rich Text Editing Component</a></p>
<p><a href="https://github.com/szimek/signature_pad">Signature Pad Component</a></p>
<h2 id="geographically-visualizing-customer-data-with-blazor-and-arcgis">Geographically Visualizing Customer Data with Blazor and ArcGIS</h2>
<p><a href="https://github.com/dymaptic/GeoBlazor-Samples/tree/main/NationFinder">Nation Finder Game Code</a></p>
<p><a href="https://github.com/dymaptic/GeoBlazor-Samples/tree/main/MuseumsOfChicago">Museums of Chicago Demo Code</a></p>
<p><a href="https://developers.arcgis.com/">ArcGIS Developer Portal</a></p>
<p><a href="https://livingatlas.arcgis.com/">ArcGIS Living Atlas</a></p>
<h2 id="geoblazor">GeoBlazor</h2>
<p><a href="https://geoblazor.com">GeoBlazor Landing Page</a></p>
<p><a href="https://samples.geoblazor.com">GeoBlazor Samples</a></p>
<p><a href="https://docs.geoblazor.com">GeoBlazor Docs</a></p>
<p><a href="https://github.com/dymaptic.GeoBlazor">GeoBlazor Open Source Repository</a></p>
<p><a href="https://github.com/dymaptic/GeoBlazor-Samples">GeoBlazor Samples Repository</a></p>
<p><a href="https://blog.dymaptic.com/tag/geoblazor">GeoBlazor Blog Posts</a></p>

    </div>
</article>