<header class="site-header" role="banner">
    <div class="wrapper">
        <a class="site-title" rel="author" href="/" aria-label="Home">
            <img src="/images/headshot.png" class="site-logo" alt="Tim Purdum's headshot" />
            Tim Purdum
        </a>
        <NavMenu></NavMenu>
    </div>
</header>

@code {
    
}